<div class="limiter">
    <div class="container-login100">
        <div class="card">
            <div class="row border">
                <div class="col-md-12">
                    <h4 class="titulo">Marcador</h4>
                </div>
                <div class="col-md-6 text-center">
                    <h6>Equipo 1</h6>
                </div>
                <div class="col-md-6 text-center">
                    <h6>Equipo 1</h6>
                </div>
                <div class="col-md-6 text-center">
                    <div class="puntaje">
                        <div class="valor">
                            1
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <div class="puntaje">
                        <div class="valor">
                            1
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border">
                <div class="col-md-12">
                    <h4 class="titulo">Servicio</h4>
                </div>
                <div class="col-md-6 text-center">
                    <h6>Equipo 1</h6>
                </div>
                <div class="col-md-6 text-center">
                    <h6>Equipo 2</h6>
                </div>
                <div class="col-md-6 text-center">
                    <div class="puntaje">
                        <div class="valor">
                            <input type="checkbox" class="flipswitch" name="servicio" checked disabled/> &nbsp;
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <div class="puntaje">
                        <div class="valor">
                            <input type="checkbox" class="flipswitch" name="servicio" disabled/> &nbsp;
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border">
                <div class="col-md-6">
                    <button class="btn btn-block btn-success">
                      Punto Equipo 1
                    </button>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-block btn-success">
                      Punto Equipo 1
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>